@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 10px;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  
  
  /* additional style */
  header{
    background:lightblue;
    text-align: left;
}

  footer{
    background: lightcoral;
  }

  